<!DOCTYPE html>
<html>
  <head>
    <title>Cleverpi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mos7 - Responsive Bootstrap 3 App Landing Page Template">
  <meta name="author" content="TemplatesPRO.com.br">
  <meta name="robots" content="index,follow">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Mos7 - Responsive Bootstrap 3 App Landing Page Template">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" content="#db5945">
  <title>Mos7 - Responsive Bootstrap 3 App Landing Page Template</title>

  <!-- Facebook -->
  <meta property="og:locale" content="en_GB">
  <meta property="og:url" content="http://www.templatespro.com.br/mos7/">
  <meta property="og:title" content="Mos7">
  <meta property="og:site_name" content="Templates PRO">
  <meta property="og:description" content="Mos7 - Responsive Bootstrap 3 App Landing Page Template">
  <meta property="og:image" content="http://www.templatespro.com.br/images/mos7.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="80">
  <meta property="og:image:height" content="80">
  <meta property="og:type" content="website">

  <!-- Fav and Touch Icons -->
  <meta name="msapplication-TileColor" content="#d9534f">
  <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
<!--   <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/favicons/manifest.json">
  <link rel="shortcut icon" href="images/favicons/favicon.ico"> -->

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!--=== FONT ICONS ===-->
    <!-- Font Awesome -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- IonIcons -->
    <link href="assets/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Elegant Icons -->
    <link href="assets/elegant-icons/css/elegant-icons.min.css" rel="stylesheet">
    <!--[if lte IE 7]><script src="assets/elegant-icons/js/elegant-icons-lte-ie7.min.js"></script><![endif]-->

  <!--=== VENDORS ===-->
    <!-- Slick Carousel -->
    <link href="css/vendor/slick.min.css" rel="stylesheet">
    <link href="css/vendor/slick-theme.min.css" rel="stylesheet">

    <!-- Blueimp Gallery Lightbox -->
    <link href="css/vendor/blueimp-gallery.min.css" rel="stylesheet">

  <!-- Custom -->
  <link href="css/main.min.css" rel="stylesheet">
  <link href="css/style.min.css" rel="stylesheet">
  <link href="css/animation.min.css" rel="stylesheet">
  <link href="css/responsive.min.css" rel="stylesheet">
  <link href="css/typography.min.css" rel="stylesheet">
  <link href="css/colors/default.min.css" rel="stylesheet">
  <link href="#" rel="stylesheet" data-name="themes">
  <link href="#" rel="stylesheet" data-name="colors">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--[if gt IE 8]>
    <link href="css/ie9.min.css" rel="stylesheet">
  <![endif]-->
<script src='/google_analytics_auto.js'></script></head>
  </head>


    <%= yield %>

</html>
